.users {
    padding: 0px 20px;
}
.usersSearchForm{
    margin-bottom: 30px;
}
.userItemsRow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.paginationBlock {
    display: flex;
    justify-content: center;
    gap: 10px;
}