.users {
    padding: 0px 20px;
}
.usersSearchForm{
    margin-bottom: 30px;
}
.userItemsRow {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.paginationBlock {
    display: flex;
    justify-content: center;
    gap: 10px;
}