.users{
    padding: 0px 20px;
}
.userItemsRow{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}
.paginationBlock{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.currentPage{
    font-weight: 700;
    background: #666;
}