.friendsBlock{
   display: flex;
   align-items: center;
   gap: 10px;
   margin-bottom: 10px;
   cursor: pointer;
   transition: all .2s ease;
}
.friendImage{
   max-width: 30px;
   max-height: 30px;
   border-radius: 50%;
   overflow: hidden;
}
.friendsBlock:hover{
   transform: translateX(5%);
}

.friendImage img{
   width: 100%;
}
.friendName{
   font-size: 18px;
}