.navBar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 22px;
    padding: 20px 10px;
    background-color: rgb(227, 227, 227);
    grid-area: nav;
}
a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
