.userItem {
    flex: 0 1 30.5%;
}

.userItemInner {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.itemImage {
    width: 35%;
}

.itemImage img {
    max-width: 100%;
}

.itemInfo {
    width: 60%;
}

.ItemStatus {
    text-align: center;
    flex: 0 1 100%;
}

.isFetching {
    color: red;
}

.followBtn {
    background-color: #eee;
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 24px;
    padding: 5px 15px;
    cursor: pointer;
    transition: ease 0.3s all;
}

.followBtn:hover {
    background-color: #000;
    color: #fff;
}

.followBtn:active {
    background-color: #666;
    color: #fff;
    transform: translate(2px, 3px);
}