.profileInfo {
    margin-left: 10px;
}

.profileInfo img {
    max-width: 100%;
    margin-bottom: 10px;
}

.profileInfoRow {
    padding: 0px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.avatar {
    width: 150px;
    height: 150px;
    background-color: #666;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}

.avatar img {
    width: 100%;
    border-radius: 50%;
}