.profileInfo {
    margin-left: 10px;
}

.profileInfo img {
    max-width: 100%;
}

.profileInfoRow {
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0px 30px;
}

.avatar {
    width: 150px;
    height: 150px;
    background-color: #666;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}

.avatar img {
    width: 100%;
    border-radius: 50%;
}

/* Edit Btn */
.editBtn {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all .3s ease;
}
.editBtn:active{
    transform: translate(5px, 5px);
}
.editIconImg {
    width: 30px;
    margin: 0;
}