.profileInfoRow{
    padding: 0px 30px;
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 30px;
}
.avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #666;
    background: url('https://www.shareicon.net/data/512x512/2016/05/29/772559_user_512x512.png') 0 0/100% no-repeat;
}