.loginForm {
   padding: 50px 100px;
   border: 3px solid #886DF5;
   border-radius: 15px;
}

.title {
   font-size: 22px;
   color: #886DF5;
   font-weight: 700;
   text-align: center;
   margin-bottom: 15px;
}

.email p,
.password p {
   color: #886DF5;
   font-weight: 600;
}

.email input,
.password input {
   width: 20vmax;
   margin-top: 5px;
   font-size: 18px;
   border: 1px solid #e3e3e3;
   border-radius: 18px;
   padding: 10px 20px;
}
.email input:focus ,
.password input:focus {
   border: 1px solid #886DF5;
}

.email {
   margin-bottom: 10px;
}

.password {
   margin-bottom: 20px;
}

.rememberMe {
   margin-bottom: 20px;
}

.buttons {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 15px;
}

.formBtn {
   font-size: 18px;
   margin-bottom: 10px;
}

.formBtn:hover {
   background-color: #886DF5;
   border: 1px solid #886DF5;
}

.fullFormError {
   border: 2px solid red;
}

.fullFormErrorMessage {
   color: red;
   font-size: 20px;
   font-style: italic;
}