.formBlock {
   display: flex;
   justify-content: center;
   align-items: center;
}

.loginForm {
   padding: 30px 20px;
   border: 3px solid rgb(136, 109, 245);
   border-radius: 15px;
}

.title {
   font-size: 22px;
   color: rgb(136, 109, 245);
   font-weight: 700;
   text-align: center;
   margin-bottom: 15px;
}

.email label,
.password label {
   color: rgb(136, 109, 245);
   font-weight: 600;
}

.email input {
   width: 20vmax;
   margin-top: 5px;
}

.email {
   margin-bottom: 10px;
}

.password input {
   width: 20vmax;
   margin-top: 5px;
}

.password {
   margin-bottom: 20px;
}

.rememberMe {
   margin-bottom: 20px;
}

.buttons {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 15px;
}

.formBtn {
   font-size: 18px;
   margin-bottom: 10px;
}

.formBtn:hover {
   background-color: rgb(136, 109, 245);
   border: 1px solid rgb(136, 109, 245);
}

.fullFormError {
   border: 2px solid red;
}

.fullFormErrorMessage {
   color: red;
   font-size: 20px;
   font-style: italic;
}